.patchContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

@media (max-width: 730px) {
    .patchContainer {
        justify-content: center !important;
    }
}