.titleContainer {
    width: 100%;
    display: flex;
    color: #bce0fd;
    align-items: flex-end;
    font-family: Arial;
    font-size: 3vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: #c8c8c8;
  
}

.titleBorderBottom {
    border-bottom: 1px solid #bce0fd;
    flex: 1;
    height: 1px;
    margin-right: 138px;
}
.titleText{
    margin-left: 3vw;
    margin-right: 2vw;
}
a{
    text-decoration: none !important;
    cursor: pointer;
    outline: none;

}

@media screen and (max-width:550px){
    .titleContainer {
        margin-top: 55px
    }
    .mb287{
        margin-bottom: 125px !important;
    }
    .button_block{
        margin-bottom: 200px !important;
    }
    .media_margin_footer_left{
        margin-bottom: 90px;
    }
}