 /* .container_center {
    background-color: #1c2d4d;
 } */
 .Mt173Mb60{
   margin-top: 173px;
   margin-bottom: 60px;
 }
 .mb75{
    margin-bottom: 75px;
 }
 .mb65{
    margin-bottom: 65px;
 }
 .mb78{
    margin-bottom: 78px;
 }
 .mb49{
    margin-bottom: 49px;
 }