
/* *a{
    font-family: Arial !important;
} */

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    text-align: center;
    color: #90c542;
    margin-bottom: 30px;
  
}
.filter-button:hover
{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #90c542;

}
.btn-default:active .filter-button:active
{
    background-color: #90c542;
    color: white;
}
.btn-default{
    background-color: #18244d;
    border: none !important
}

.btn-default:focus{
    background-color: #90c542;
    color: white
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.portfolioButtonContainer{
  width: 100%
}
/* .spaceEv{
    justify-content: space-evenly !important
} */