.carousel-3d-slide {
    height: 500px !important;
}
 .current{
    height: 500px !important;
}
/* .carousel-3d-slider{

} */
.carousel-3d-container{
    height: 500px !important;
}
.contacts_slider_item{
    width: 100%
}
.mb287{
    margin-bottom: 287px;
}

@media (max-width: 576px) {

    .contacts_slider_item{
        height: 506px !important;
    }
    .carousel-3d-slide.current{
        width: 200px !important
    }
    .carousel-3d-slider{
        width: 200px !important
    }
    .carousel-3d-slide{
        width: 200px !important
    }

}