.width100media {
    width: 100%;
    padding-left: 10px
}
.v-input{
    margin-bottom: 15px
}
.v-input input{
    
    height: 42px;
    border-radius: 4px;
    border: solid 1px #dbeefe;
    background-color: #f1f9ff;
}
.v-text-field .v-label{
    color: #c2c2c2;
    top:4px;
    font-size: 13px
}
textarea{
    border-radius: 4px;
    border: solid 1px #dbeefe;
    background-color: #f1f9ff;
}
/* .v-messages__message{
    color: #ff5252!important;
    caret-color: #ff5252!important;
} */