.input{
    height: 42px;
    border-radius: 4px;
    border: solid 1px #dbeefe;
    background-color: #f1f9ff;
}
.textArea{
    height: 151px !important;
  border-radius: 4px;
  border: solid 1px #dbeefe;
  background-color: #f1f9ff;

}
.jumbotron{
background-color: transparent;
color: white;
}
.invalid-feedback{
    color: #f16868;
    font-size: 15px;
}
.ml115{
    margin-left: 115px;
}
@media screen and (max-width:1250px){
    .ml115{
        margin: 0
    }
}
@media screen and (max-width:600px){

.titleText{
    font-size: 6vw;

}
.titleBorderBottom{
    margin-right: 25px;
}
}