.chemrar_top_item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 891px) {
    .chemrar {
        justify-content: center
    }
}