.heigth100vh{
    background-color: #999;
    height: 100vh;
}
.slider_item{
    margin: auto;
     
}
.slider_item_bottom{
    height: 286.4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 900px){
    .slider_item_top{
        width: 100%
    }
} 